* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* header */

.mart-name{
    text-align: left;
    width: 100%;
    position: absolute;
    top:150px;
}

h1{
    color: rgb(252, 5, 178);
    font-size: 60px;
    margin:0 0 0 100px;
    font-weight: lighter;
    position: fixed;
}

/* side bar */
.sidebar-container{
    width:20%;
    margin:100px 0 0 100px ;
    position: fixed;
}

/* side bar- nav */
.nav{
    width:100%;
    display: flex;
    flex-direction: column;
}

.menu-list{
    padding: 0;
}

.menu-item{
    border-bottom: 3px solid rgb(6, 233, 203);
    list-style: none;
}

.menu-item a{
    font-size: 30px;
    color:rgb(252, 5, 178);
    text-decoration: none;
    line-height: 70px;
}

.menu-item a:hover{
    color:rgb(6, 233, 203) ;
}

/* side bar - cart container */
#cart-container{
    background-color: rgb(45, 143, 122);
    width: 130%;
    margin:30px 0;
    visibility: hidden;
  }
/* side bar - placeholders */
  .item-wrapper{
      width:100%;
      margin:10px auto;
  }
  .item{
    height:120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .fas{
      font-size: 25px;
      color:rgb(252, 5, 178);
      background-color: white;
      border:1px solid rgb(45, 143, 122);
      border-radius: 50%;
      margin-left:30px;
  }
  .fas:hover{
      font-size: 30px;
      color:red;
  }

  .item-img-placeholder{
      width:80px;
      height:80px;
      object-fit: cover;
  }

  .title-placeholder{
      color: white;
      font-size: 20px;
  }

  .each-price-holder{
    color:white;
    font-size: 20px;
    margin-right:30px;
}


  .total-price-holder{
    color:white;
    font-size: 20px;
  }


/*  side bar - hr & total: */
  .hr-wrapper{
    text-align: center;
  }
  hr{
    border: 1px solid white;
    width:80%;
    margin:auto;
  }
  
  .total-wrapper{
    display:flex;
    justify-content: space-between;
    padding: 30px;
  }
  .total{
    color:white;
    font-size: 20px;
  }


/* showcase*/
.showcase{
    width:60%;
    margin:250px 100px 0 auto;
}

#showcase-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
}

#showcase-list li {
    color: #fff;
    list-style: none;
    text-align: center;
}

#showcase-list li figure img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#showcase-list li figure figcaption {
    margin: 15px 0;
    font-size: 1.2rem;
}

.to-cart-btn {
    background-color: #FF0BAC;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    height: 40px;
    width: 120px;
    border-radius: 5px 20px;
    transition: all 0.3s;
    cursor: pointer;
}

.to-cart-btn:hover {
    background-color: #35F0D0;
}